Vector: reset your password

Hi,

We received a request to reset the password for your Vector account ({{ email_hint }}).

If you made this request, open this link in your browser (it expires in {{ ttl_hours }} hours):

{{ reset_url }}

If you did not request a password reset, you can ignore this email. Your password will not change.

- Vector

You received this because someone requested a password reset for this address on Vector.
